*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.cursor
.history
.kotlin
SUMMARY_FEATURE.md
.claude/settings.local.json
.claude/settings.local.json
